
/* quando eu uso virgula ( botton,h3) defino parametros para mais de uma tag,class e id*/
/* saort-hand= inves de eu definir todas as caracteristicas eu defino um panding-full*/
/*pseudo-class é quando você está se referindo a uma ação daquela teg - button: hover (hover - ação) e filter*/

#pergunta{
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	font-family: Montserrat;
	color: #ffff
}

#camporesposta{
	font-style: normal;
	font-weight:normal;
	font-size: 1rem;
	font-family: Montserrat;
	color: #ffff
}

h1 {
		font-style: normal;
		font-weight: bold;
		font-size: 2rem;
		font-family: Montserrat;
    color: #ffff
	}

p{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Montserrat;
  color: #ffff

}


.button {
  background-color: #E5D112;
  border: none;
  color: black;
  padding: 15px 15px 20px 20px;
  border-radius: 9px;
  padding: 1rem;
  text-align: center;
  font-weight: normal;
  font-family: Montserrat;
  width: 27%;

}

.box {
  background-color: transparent;
	width: 0.5rem;
  height:0.5rem;
  margin: 0.5rem;
}

.customization
{

color: #ffff
display: block;
width: 25%;
border-radius: 9px;
padding: 1rem;
text-align: center;
font-weight: normal;
font-family: Montserrat;
border:none;

}

button:hover {
	filter: brightness(1.2);
  cursor: pointer;
}


body {
  background: rgb(118,84,191);
  background: linear-gradient(130deg, rgba(118,84,191,1) 0%, rgba(190,105,176,1) 100%);
}

footer {
  text-align: center;
  padding: 10rem;
  background-color: transparent
  color: transparent;
}
